/* Navbar custom styling */

.nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-nav {
  margin-right: 10px;
}

/* Headline Section Styling */

.headline {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 3em 0 1em 0;
  text-align: center;
}

.profile-picture {
  border-radius: 100%;
  height: 300px;
  width: auto;
}

/* About Section */

.about {
  align-items: center;
  background-color: #287be7;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 2em 0 1em 0;
  padding: 3em 5em;
  text-align: center;
}

.about h2 {
  margin-bottom: 0.75em;
}

.call {
  background-color: #ff4f4f;
  border-radius: 0.5em;
  color: white;
  display: inline-block;
  margin: 0.75em 5px;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.second-call {
  background-color: #287be7;
  border: 1px solid white;
}

/* Skills Section Styling */

.skills {
  padding: 4em 0;
  width: 100%;
}

.skill-lists {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills i {
  color: #ff4f4f;
  margin-bottom: 10px;
}

.skills h2 {
  margin-bottom: 1em;
  text-align: center;
}

.skills ul {
  padding: 0;
}

.skills li {
  list-style-type: none;
}

.frontend h3,
.backend h3,
.dev-tools h3 {
  text-align: center;
}

/* Project Section Styling */

.projects {
  background-color: #ff4f4f;
  padding: 3em 1em;
}

.projects h2 {
  font-size: 4em;
  margin-bottom: 0.5em;
  text-align: center;
}

.deck {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

project-card {
  grid-column: 1 / span 12;
  /* grid-row: 1 / 2; */
}

/* Contact Form Styling */

.contact {
  padding: 4em;
  text-align: center;
}

.contact form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form div {
  margin: 0 auto 10px;
}

input[type="submit"] {
  background-color: #ff4f4f;
  border: none;
  color: white;
  padding: 0.5em 0.75em;
  border-radius: 0.8em;
}

/* Footer Styling */

footer {
  background-color: #287be7;
  color: white;
  padding: 1.5em;
  text-align: center;
}

footer a {
    color: white;
    display: inline-block;
    margin: 5px 15px;
    text-decoration: none;
}

footer p {
    margin: 5px;
}

/* Response CSS for Tablet Devices */

@media screen and (min-width: 768px) {
  project-card {
    grid-column: auto / span 6;
  }

  .skill-lists {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Responsive CSS for Desktop Devices */

@media screen and (min-width: 1024px) {
  project-card {
    grid-column: auto / span 4;
  }
}
