/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Prata&display=swap');

body {
    font-family: "Kanit", sans-serif;
}

/* Navbar custom styling */

.nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-nav {
  margin-right: 10px;
}

/* Headline Section Styling */

.headline {
  position: relative;
  margin: 0;
  height: auto;
  width: 100%;
}

.title {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

/* About Section */

.about {
  align-items: stretch;
  background-color: #3E4B91;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 0 1em 0;
  padding: 2em 10%;
  text-align: center;
}

.about h2 {
  margin-bottom: 0.75em;
  font-size: 3vh;
}

.about p {
    font-size: 1em;
}

.call {
  background-color: #ff4f4f;
  border-radius: 0.5em;
  color: white;
  display: inline-block;
  margin: 0.75em 5px;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.call:hover {
    background-color: #c53838;
    color: white;
}

.second-call {
  background-color: #3E4B91;
  border: 1px solid white;
}

/* Skills Section Styling */

.skills {
  padding: 2em 0;
  width: 100%;
}

.skill-lists {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  text-align: center;
}

.skills i {
  color: #ff4f4f;
  margin: .5em 0 .5em;
}

.skills h2 {
  font-size: 2em;
  text-align: center;
}

.skills ul {
  padding: 0;
}

.skills li {
  list-style-type: none;
}

.frontend h3,
.backend h3,
.dev-tools h3 {
  text-align: center;
}

/* Project Section Styling */

.projects {
  background-color: #ff4f4f;
  padding: 2em 1em;
}

.projects h2 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-align: center;
}

.deck {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

project-card {
  grid-column: 1 / span 12;
}

/* Contact Form Styling */

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4em;
}

.contact form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.contact p {
    text-align: center;
    margin: 0 0 15px;
    width: clamp(30ch, 50%, 45ch);
}

.break {
  display: none;
}

form .contact-labels {
    display: flex;
    justify-content: space-between;
    margin: 5px 65px 0 0;
}

form i {
    color: #3E4B91;
}

input[type="submit"], .contact a {
  align-self: center;
  background-color: #ff4f4f;
  border: none;
  border-radius: 0.8em;
  color: white;
  margin-top: 10px;
  padding: 0.5em 0.75em;
}

input[type="submit"]:hover {
    background-color: #c53838;
}

input[type="email"] {
    text-align: right;
    margin-bottom: 5px;
}

.contact a {
    background-color: #3E4B91;
    text-decoration: none;
    margin: 0 0 20px;
    text-align: center;
}

.contact a:hover {
    background-color: #1e319e
}
/* Footer Styling */

footer {
  background-color: #3E4B91;
  color: white;
  padding: 1.5em;
  text-align: center;
}

footer a {
  color: white;
  display: inline-block;
  margin: 5px 15px;
  text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
  margin: 5px;
}

/* Response CSS for Tablet Devices */

@media screen and (min-width: 768px) {
  project-card {
    grid-column: auto / span 6;
  }

  .title {
      font-size: 2.5em;
  }

  .about {
      padding: 2.5em 15%;
  }

  .about p {
      font-size: 1.2em;
  }

  .skill-lists {
    flex-direction: row;
    justify-content: space-evenly;
  }

}

/* Responsive CSS for Desktop Devices */

@media screen and (min-width: 1024px) {
  project-card {
    grid-column: auto / span 4;
  }

  .title {
      font-size: 3em;
  }

  .about {
      padding: 2.75em 20%;
  }

  .break {
    display: inline;
  }
}
